<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DeptMapper">

	<!-- DTO 별칭 지정 후, Mapper에서 select문 작성  -->
	<select id="deptList" resultType="DeptDTO">
		select deptno,dname,loc
		from dept
		order by deptno
	</select>
	
	<insert id="deptAdd" parameterType="DeptDTO">
		insert into dept (deptno, dname, loc)
		values (#{deptno}, #{dname}, #{loc})
	</insert>
	
	<update id="deptUpdate" parameterType="DeptDTO">
		update dept
		set dname=#{dname}, loc=#{loc}
		where deptno=#{deptno}
	</update>
	
	<delete id="deptDelete" parameterType="int">
		delete from dept
		where deptno=#{deptno}
	</delete>
</mapper>